[dnsimple]
email_address=nathan@example.org
api_token=YOUR DNSIMPLE API TOKEN
use=1

[host]
server_conf = /etc/httpd/conf/httpd.conf
#include trailing slash
site_root_base=/var/www/
#include trailing slash
conf_base=/etc/httpd/virtual-hosts/
default_user=apache
default_group=apache
